---
import BaseThinner from "../layouts/BaseThinner.astro";
import { Image } from "astro:assets";
import Back from "../components/Back.astro";
import khakis1 from "../assets/khakis1.png";
import khakis2 from "../assets/khakis2.png";
import khakis3 from "../assets/khakis3.png";
import khakis4 from "../assets/khakis4.png";
import khakis5 from "../assets/khakis5.png";
import khakis6 from "../assets/khakis6.png";
import khakis7 from "../assets/khakis7.png";
import khakis8 from "../assets/khakis8.png";
import khakis9 from "../assets/khakis9.png";

const title = "Khakis of Carmel";
---

<BaseThinner title={title}>
  <div class="mx-4 2xl:mx-0">
    <Back next="/books" />
    <section class="mb-8">
      <h1 class="font-sans font-bold text-5xl my-8">{title}</h1>
      <p class="mb-6">
        While working with the team at Khakis of Carmel I was able to craft
        improved advertising and in-store event signage. I conducted several
        photo shoots featuring newly arrived clothing and also updated the
        eCommerce (Shopify) website.
      </p>
      <!-- <Image src={khakis1} alt="khakis" /> -->
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
        <a
          data-fslightbox="gallery"
          data-caption="Khakis of Carmel ad image 1"
          href="/khakis1.png"
        >
          <Image src={khakis1} alt="khakis1" class="w-full" />
        </a>
        <a
          data-fslightbox="gallery"
          data-caption="Khakis of Carmel ad image 2"
          href="/khakis2.png"
        >
          <Image src={khakis2} alt="khakis2" class="w-full" />
        </a>
        <a
          data-fslightbox="gallery"
          data-caption="Khakis of Carmel ad image 3"
          href="/khakis3.png"
        >
          <Image src={khakis3} alt="khakis3" class="w-full" />
          <a
            data-fslightbox="gallery"
            data-caption="Khakis of Carmel ad image 4"
            href="/khakis4.png"
          >
            <Image src={khakis4} alt="khakis4" class="w-full" />
          </a>
          <a
            data-fslightbox="gallery"
            data-caption="Khakis of Carmel ad image 5"
            href="/khakis5.png"
          >
            <Image src={khakis5} alt="khakis5" class="w-full" />
          </a>
          <a
            data-fslightbox="gallery"
            data-caption="Khakis of Carmel ad image 6"
            href="/khakis6.png"
          >
            <Image src={khakis6} alt="khakis6" class="w-full" />
          </a>
          <a
            data-fslightbox="gallery"
            data-caption="Khakis of Carmel ad image 7"
            href="/khakis7.png"
          >
            <Image src={khakis7} alt="khakis6" class="w-full" />
          </a>
        </a>
        <a
          data-fslightbox="gallery"
          data-caption="Khakis of Carmel ad image 8"
          href="/khakis8.png"
        >
          <Image src={khakis8} alt="khakis8" class="w-full" />
        </a>
        <a
          data-fslightbox="gallery"
          data-caption="Khakis of Carmel ad image 9"
          href="/khakis9.png"
        >
          <Image src={khakis9} alt="khakis9" class="w-full" />
        </a>
      </div>
    </section>
    <Back next="/books" />
  </div>
</BaseThinner>
