---
import BaseThinner from "../layouts/BaseThinner.astro";
import { Image } from "astro:assets";
import Back from "../components/Back.astro";
import lpcpromo from "../assets/lpcpromo.png";
import lpcold from "../assets/lpcold.png";
import lpcnew from "../assets/lpcnew.png";
import chartold from "../assets/chartold.png";
import chartnew from "../assets/chartnew.png";

const title = "Live Price Check";
---

<BaseThinner title="Live Price Check">
  <div class="mx-4 2xl:mx-0">
    <Back next="/fastpencil" />
    <section class="mb-16">
      <h1 class="font-sans font-bold text-5xl my-8">{title}</h1>
      <p class="mb-6 mt-2">
        While at Wiser Solutions I did a major upgrade to the design and
        usability of Live Price Check. Live Price Check (LPC) is a Chrome
        extension that allows retailers and brands to compare prices of selected
        products across all the other online shopping platforms in that
        particular country or region-all without having to manually visit every
        other site where the product is sold. It also provides a price history
        chart to track price trends over time.
      </p>
      <Image src={lpcpromo} alt="live price check promo image" />
      <p class="mt-6">
        Check out <a
          href="https://chromewebstore.google.com/detail/live-price-check/dbgmmfjediknhamdepfnhneeajmdpfjo"
          target="_blank"
          class="text-indigo-600 hover:text-indigo-800 hover:underline"
          >Live Price Check on the Chrome Web Store</a
        >
        <h4 class="font-bold text-lg mt-6 mb-2">The Challenge</h4>
        <p class="mb-2">
          Although the original product has a ton of utility, it is not easy to
          learn and requires a lot of training by the customer success team to
          teach customers how to use the product.
        </p>
        <h4 class="font-bold text-lg mt-6 mb-2">The Process</h4>
        <p class="mb-2">
          My process was to deeply analyze the product and check against best
          practices in UI and user experience design. Plus a lot of research!
          The product manager and I talked to several customers who used the
          product daily and gathered their extremely insightful and valuable
          feedback. From there I started to create the new designs.
        </p>

        <div class="md:flex md:space-x-10 mt-6">
          <div>
            <p class="font-semibold">Before</p>
            <Image
              src={lpcold}
              alt="live price check old design"
              class="w-full my-2 object-cover mb-2"
            />
          </div>
          <div>
            <p class="font-semibold">After Redesign</p>
            <Image
              src={lpcnew}
              alt="live price check new design"
              class="w-full my-2 object-cover mb-2"
            />
          </div>
        </div>

        <h4 class="font-bold text-lg mt-6 mb-2">Key Improvements</h4>
        <p class="mb-2">
          <ul class="list-disc pl-5 space-y-2">
            <li>Added product photo to description</li>
            <li>
              Added blue frame to selected product (which is mirrored in the
              side panel)
            </li>
            <li>
              Dashed-lines around products (more obvious it's related to the
              extension)
            </li>
            <li>Added amber color to indicate pricing in the middle</li>
            <li>Added the price delta</li>
            <li>
              Green and red coloring in side panel to indicate higher and lower
              prices
            </li>
            <li>
              Added a button to trigger the price history chart- the mini-chart
              at the bottom did not look clickable
            </li>
            <li>Improved readability overall:</li>
            <ul class="list-none pl-5 space-y-2 mb-12">
              <li>-Larger fonts</li>
              <li>-Changed text from all-caps to title or sentence-case</li>
              <li>-Increased contrast</li>
            </ul>
          </ul>
        </p>

        <div class="md:flex md:space-x-10 mt-6">
          <div>
            <p class="font-semibold">Chart Before</p>
            <Image
              src={chartold}
              alt="live price check old design"
              class="w-full my-2 object-cover mb-2"
            />
          </div>
          <div>
            <p class="font-semibold">Chart After Redesign</p>
            <Image
              src={chartnew}
              alt="live price check new design"
              class="w-full my-2 object-cover mb-2"
            />
          </div>
        </div>

        <h4 class="font-bold text-lg mt-6 mb-2">Key Improvements to Chart</h4>
        <p class="mb-2">
          <ul class="list-disc pl-5 space-y-2">
            <li>
              Strong splash of color to connect retailer name to line in chart
            </li>
            <li>
              Show selected product (picture and name) to maintain context
            </li>
            <li>Added chart title</li>
            <li>Added date range</li>
            <li>Added bold styling on selected site</li>
          </ul>
        </p>

        <h4 class="font-bold text-lg mt-6 mb-2">Outcome</h4>
        <p class="mb-2">
          The Improvements outlined above, along with other improvements,
          resulted in:

          <ul class="list-disc pl-5 space-y-2">
            <li>
              Delighted customers! One customer for example called the changes
              to the way the product rankings are displayed as “Brilliant!”
            </li>
            <li>
              Less “hand-holding” by support staff because the extension is now
              way more self-explanatory/intuitive resulting in an about a 50%
              drop in support tickets related to how to use the extension.
            </li>
          </ul>
        </p>
      </p>
    </section>
    <Back next="/fastpencil" />
  </div>
</BaseThinner>
