---
const { img, alt, title, link } = Astro.props;
import { Image } from "astro:assets";
---

<div class="my-8 w-full">
  <div
    class="max-w-xl rounded-xl overflow-hidden shadow-lg bg-slate-50 transition-transform duration-200 hover:scale-105"
  >
    <!-- Outer container to control overflow and clipping -->
    <div class="overflow-hidden relative group">
      <a href={link} class="block">
        <Image src={img} class="w-full" alt={alt} />
      </a>
    </div>
    <div class="px-4 py-3 font-sans">
      <a href={link} class="block">
        <div class="font-semibold text-neutral-700">{title}</div>
      </a>
    </div>
  </div>
</div>
