---
const { quote, img, alt, person, title, company } = Astro.props;
import { Image } from "astro:assets";
---

<div class="border left-8 bg-gray-200 p-8 rounded-lg mb-8">
  <p class="mb-6 text-gray-600 text-xl">{quote}</p>
  <div class="flex items-start mb-0">
    <Image
      src={img}
      alt={alt}
      width={200}
      class="mr-4 sm:mb-0 align-top rounded-full w-14"
      quality={100}
    />
    <div>
      <p class="font-bold">{person}</p>
      <p>
        {title}, {company}
      </p>
    </div>
  </div>
</div>
