---
import Base from "../../layouts/Base.astro";
import ThinnerContent from "../../components/ThinnerContent.astro";
import { Image } from "astro:assets";
import Back from "../../components/Back.astro";
import healer from "../../assets/healer.png";
import third from "../../assets/third.jpg";
import travel from "../../assets/travel.jpg";
import miles from "../../assets/miles.jpg";
import conversations from "../../assets/conversations.jpg";
import gullibills from "../../assets/gullibills.jpg";
import homework from "../../assets/homework.jpg";
import kills from "../../assets/kills.jpg";
import prego from "../../assets/prego.jpg";
import shakespeare from "../../assets/shakespeare.jpg";
import till from "../../assets/till.jpg";
import together from "../../assets/together.jpg";
import torque from "../../assets/torque.jpg";

const title = "Book Design";
---

<Base title={title}>
  <ThinnerContent>
    <h1 class="font-sans font-bold text-4xl sm:text-5xl my-8">{title}</h1>
    <p class="mb-2 max-w-4xl">
      While at FastPencil I had the opportunity to work with many talented
      authors on their book projects. We'd start with a kick-off meeting to go
      over the story and to get a vibe for what they were looking for. Next I'd
      start creating some design options and iterating based on feedback until
      we were satisfied. It was truly gratifying to help bring the authors'
      creations to life.
    </p>
    <p class="mb-8 font-semibold">
      <a
        href="mailto:mattoleary.design?subject=Hey Matt!"
        class="text-indigo-700 hover:text-indigo-900 hover:underline"
        >Reach out</a
      > to chat about your next book project!
    </p>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      <div>
        <Image src={torque} alt="Torque" class="w-full" />
      </div>
      <div>
        <Image src={miles} alt="500 Miles" class="w-full" />
      </div>
      <div>
        <Image src={together} alt="Together" class="w-full" />
      </div>
      <div>
        <Image src={till} alt="Till" class="w-full" />
      </div>
      <div>
        <Image src={shakespeare} alt="Shakespeare" class="w-full" />
      </div>
      <div>
        <Image src={homework} alt="Homework" class="w-full" />
      </div>
      <div>
        <Image src={gullibills} alt="Gullibills" class="w-full" />
      </div>
      <div>
        <Image src={conversations} alt="Conversations" class="w-full" />
      </div>
      <div>
        <Image src={healer} alt="Healer" class="w-full" />
      </div>
      <div>
        <Image src={travel} alt="Travel to Tomorrow" class="w-full" />
      </div>
      <div>
        <Image src={third} alt="Third Times a Charm" class="w-full" />
      </div>
      <div>
        <Image src={prego} alt="Prego" class="w-full" />
      </div>
      <div>
        <Image src={kills} alt="Kills" class="w-full" />
      </div>
    </div>
  </ThinnerContent>
  <Back next="/work/kiteworks" />
</Base>
