---
import BaseThinner from "../../layouts/BaseThinner.astro";
import { Image } from "astro:assets";
import Back from "../../components/Back.astro";
import healer from "../../assets/healer.png";
import third from "../../assets/third.jpg";
import travel from "../../assets/travel.jpg";
import miles from "../../assets/miles.jpg";
import conversations from "../../assets/conversations.jpg";
import gullibills from "../../assets/gullibills.jpg";
import homework from "../../assets/homework.jpg";
import kills from "../../assets/kills.jpg";
import prego from "../../assets/prego.jpg";
import shakespeare from "../../assets/shakespeare.jpg";
import till from "../../assets/till.jpg";
import together from "../../assets/together.jpg";
import torque from "../../assets/torque.jpg";

const title = "Book Covers";
---

<BaseThinner title={title}>
  <section class="mx-4 2xl:mx-0">
    <Back next="/work/kiteworks" />
    <h1 class="font-sans font-bold text-5xl my-8">{title}</h1>
    <p class="mb-2 max-w-4xl" style="white-space:">
      While at FastPencil I had the opportunity to work with many talented
      authors on their book projects. We'd start with a kick-off meeting to go
      over the story and to get a vibe for what they were looking for. Next I'd
      start creating some design options and iterating based on feedback until
      we were satisfied. It was truly gratifying to help bring the authors'
      creations to life.
    </p>
    <p class="mb-8 font-semibold">
      <a
        href="mailto:mattoleary.design?subject=Hey Matt!"
        class="text-indigo-700 hover:text-indigo-900 hover:underline"
        >Reach out</a
      > to chat about your next book project!
    </p>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      <a
        data-fslightbox="gallery"
        data-caption="torque book cover"
        href="/torque.jpg"
        id="openLightboxButton"
      >
        <Image src={torque} alt="Torque" class="w-full" />
      </a>
      <a
        data-fslightbox="gallery"
        data-caption="500 miles book cover"
        href="/miles.jpg"
      >
        <Image src={miles} alt="500 Miles" class="w-full" />
      </a>
      <a
        data-fslightbox="gallery"
        data-caption="together book cover"
        href="/together.jpg"
      >
        <Image src={together} alt="Together" class="w-full" />
      </a>
      <a
        data-fslightbox="gallery"
        data-caption="till book cover"
        href="/till.jpg"
      >
        <Image src={till} alt="Till" class="w-full" />
      </a>
      <a
        data-fslightbox="gallery"
        data-caption="shakespeare book cover"
        href="/shakespeare.jpg"
      >
        <Image src={shakespeare} alt="Shakespeare" class="w-full" />
      </a>
      <a
        data-fslightbox="gallery"
        data-caption="homework book cover"
        href="/homework.jpg"
      >
        <Image src={homework} alt="Homework" class="w-full" />
      </a>
      <a
        data-fslightbox="gallery"
        data-caption="gullibills book cover"
        href="/gullibills.jpg"
      >
        <Image src={gullibills} alt="Gullibills" class="w-full" />
      </a>
      <a
        data-fslightbox="gallery"
        data-caption="conversations book cover"
        href="/conversations.jpg"
      >
        <Image src={conversations} alt="Conversations" class="w-full" />
      </a>
      <a
        data-fslightbox="gallery"
        data-caption="healer book cover"
        href="/healer.png"
      >
        <Image src={healer} alt="Healer" class="w-full" />
      </a>
      <a
        data-fslightbox="gallery"
        data-caption="travel to tomorrow book cover"
        href="/travel.jpg"
      >
        <Image src={travel} alt="Travel to Tomorrow" class="w-full" />
      </a>
      <a
        data-fslightbox="gallery"
        data-caption="third times a charm book cover"
        href="/third.jpg"
      >
        <Image src={third} alt="Third Times a Charm" class="w-full" />
      </a>

      <a
        data-fslightbox="gallery"
        data-caption="prego book cover"
        href="/prego.jpg"
      >
        <Image src={prego} alt="Prego" class="w-full" />
      </a>
      <a
        data-fslightbox="gallery"
        data-caption="kills book cover"
        href="/kills.jpg"
      >
        <Image src={kills} alt="Kills" class="w-full" />
      </a>
    </div>
  </section>
  <Back next="/work/kiteworks" />
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const openLightboxButton = document.getElementById("openLightboxButton");

      openLightboxButton.addEventListener("click", function () {
        fsLightbox.open();
      });
    });
  </script>
</BaseThinner>
