---
import Base from "../../layouts/Base.astro";
import ThinnerContent from "../../components/ThinnerContent.astro";
import { Image } from "astro:assets";
import Back from "../../components/Back.astro";
import martinellisHero from "../../assets/Martinellis-bottles2.png";
import livlett from "../../assets/livlett_377.jpg";
import loungelizard from "../../assets/loungelizard.jpg";
import martinellis_377 from "../../assets/martinellis-377.jpg";
import sol from "../../assets/sol.jpg";
import spk_lemonade from "../../assets/spk-lemonade_377.jpg";
import martinellisThumb from "../../assets/martinellis-fruitvirtues_377.jpg";
import fleurDeLis from "../../assets/Fleur0de-Lis-BOX.jpg";

const title = "Production Design";
---

<Base title={title}>
  <ThinnerContent>
    <section class="mb-8">
      <h1 class="font-heading font-bold text-4xl sm:text-5xl my-8">{title}</h1>
      <p class="mb-8 max-w-3xl">
        For these consumer packaged goods developed at McDill Associates, I translated approved concept designs into final production-ready artwork, adapting layouts across dielines, materials, and press requirements. For products with multiple flavors or variants, I developed the complete line extensions, creating all additional versions from the original design while maintaining visual consistency, brand cohesion, and production accuracy.
      </p>
      <Image
        src={martinellisHero}
        alt="Martinelli’s Bottles"
        class="mb-8 rounded-lg"
      />
      <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6">
        <Image src={livlett} alt="Living Lettuce Label" class="rounded-lg" />
        <Image
          src={loungelizard}
          alt="Lounge Lizard Packaging"
          class="rounded-lg"
        />
        <Image
          src={martinellis_377}
          alt="Martinelli’s Bottles"
          class="rounded-lg"
        />
        <Image src={sol} alt="SOL Sunflower Beverage" class="rounded-lg" />
        <Image
          src={spk_lemonade}
          alt="Martinelli’s Sparkling Lemonade"
          class="rounded-lg"
        />
        <Image
          src={martinellisThumb}
          alt="Martinelli’s Fruit Virtues"
          class="rounded-lg"
        />
      </div>
      <Image
        src={fleurDeLis}
        alt="Fleur-de-Lis Box"
        class="mt-8 rounded-lg w-full"
      />
    </section>
    <Back next="/work/walksantacruz" />
  </ThinnerContent>
</Base>
