---
import Base from "../../layouts/Base.astro";
import ThinnerContent from "../../components/ThinnerContent.astro";
import { Image } from "astro:assets";
import Back from "../../components/Back.astro";
import whale_shirts from "../../assets/whale_shirts.png";
import whale_van_banner from "../../assets/whale_van_banner.png";
import whale_rack2 from "../../assets/whale_rack2.png";
import whale_hat from "../../assets/whale_hat.png";
import whale_web from "../../assets/whale_web.png";
import Breadcrumb from "../../components/Breadcrumb.astro";

const title = "Santa Cruz Whale Watching";
---

<Base title="Santa Cruz Whale Watching">
  <ThinnerContent>
    <!-- <Breadcrumb /> -->
    <section class="mb-8">
      <h1 class="font-sans font-bold text-4xl sm:text-5xl my-8">{title}</h1>
      <p class="mb-6 mt-2">
        I've had the pleasure of working with the team at Santa Cruz Whale
        Watching / Stagnaro Charters for a considerable amount of time, creating
        a diverse array of marketing and advertising materials for them. This
        includes online projects such as the original whale watching site (using
        Wordpress) along with printed materials such as jackets, hats, shirts,
        banners, rack cards, and posters.
      </p>

      <Image src={whale_shirts} alt="whale shirts" class="mb-8" />
      <Image src={whale_van_banner} alt="whale van banner" class="mb-8" />
      <Image src={whale_rack2} alt="whale rack2" class="mb-8" />
      <Image src={whale_hat} alt="whale hat" class="mb-8" />
      <Image src={whale_web} alt="whale web" class="mb-8" />
    </section>
    <Back next="/work/production-design" />
  </ThinnerContent>
</Base>
